body {
  margin: 0;
  background: #000;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.player {
  max-width: 750px;
  width: 100%;
  border: 5px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.viewer {
  width: 100%;
  display: block;
}

.player__controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: rgba(0,0,0,0.5);
  padding: 10px;
}

.player__button, .player__slider {
  margin: 5px;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.player__slider {
  width: 100px;
}

.progress {
  flex: 1;
  height: 5px;
  background: grey;
  cursor: pointer;
  margin: 5px 0;
  position: relative;
}

.progress__filled {
  width: 0;
  height: 100%;
  background: #ffc600;
  flex-basis: 0;
  flex-grow: 1;
}
